@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karantina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
}

nav {
  background-color: #fefe2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}
.btn {
  border: none;
  outline: none;
  color: white;
  background-color: black;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #656565;
}

.s-logo {
  height: 20px;
  width: 20px;
}

.sub-nav ul li a {
  color: black;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.sub-nav ul li a:hover {
  background-color: gray;
}

.sub-nav ul {
  display: flex;
  list-style: none;
  padding-left: 30px;
}

footer {
  height: 25vh;
  background-color: #fefe2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}

/* Home Page */

.home-image {
  width: 100%;
  height: 80vh;
  background-color: #909090;
  background-image: url(./home.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-blend-mode: multiply;
}
.short-nav {
  height: 6vh;
  background-color: #fefe2a;
}

.big-text {
  font-size: 60px;
  font-weight: 900;
  font-family: Orelega One;
  color: #fcfcfc;
  font-weight: lighter;
}

.txt-small {
  font-size: 32px;
  font-weight: 200;
  padding-top: 7rem;
  font-family: Karantina;
  color: #e4e4e4;
}

.quote-box {
  height: 60vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Oswald;
  font-size: 22px;
  font-weight: 200;
}
.shiv-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.shop-detail-box {
  height: 100vh;
  background-color: #f3fbb6;
}
.shop-detail-box h2 {
  text-align: center;
  padding-top: 4rem;
  font-size: 32px;
  color: #787878;
  position: relative;
}
.shop-detail-box h2::after {
  content: "";
  display: block;
  height: 4px;
  width: 8rem;
  text-align: center;
  margin: 5px auto;
  background-color: #fefe2a;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
}
.card {
  height: 350px;
  width: 260px;
  background-color: #b1b2ab;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 1.5rem;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-heading {
  color: #353535;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 15px;
  font-family: Oswald;
  font-size: 1.5rem;
}
.star-icon {
  height: 20px;
  width: 20px;
}
.card-list {
  padding-left: 45px;
  padding-top: 2rem;
  color: #3e3e3e;
  margin-right: 15px;
}

/* Login Page */

.Box {
  height: 80vh;
  position: relative;
}

.login-container {
  height: 400px;
  width: 300px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
