@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karantina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  height: 28px;
  padding-top: 4px;
  color: #3c6e71;
}

.cart-counter {
  padding-left: 3px;
  color: #3c6e71;
}
.cart-container {
  display: flex;
  align-items: center;
  border: 2px solid #3c6e71;
  width: 5rem;
  justify-content: space-around;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.nav-btn-container {
  padding-right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  padding-left: 0.5rem;
  font-family: Girassol;
  font-size: 18px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}
.btn {
  border: none;
  outline: none;
  color: white;
  background-color: #3c6e71;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #656565;
}

.s-logo {
  height: 20px;
  width: 20px;
}

.sub-nav ul li a {
  color: black;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
}

.sub-nav ul li a:hover {
  background-color: #e4dfdf;
}

.sub-nav ul {
  display: flex;
  list-style: none;
  padding-left: 30px;
}

/* color: #3c6e71; */
/* background-color: #bfbf6a; */

footer {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}

.f-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-contact h3 {
  padding-top: 0.5rem;
  font-family: Oswald;
  font-weight: 200;
  font-size: 22px;
  color: #424242;
}

.f-subcontent {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  width: 150px;
}

.f-subcontent h5 {
  color: #232323;
  font-weight: lighter;
}

.f-icons {
  display: flex;
  flex-grow: 0.1;
  align-items: center;
  margin-right: 2rem;
  justify-content: space-around;
}
.f-icon {
  font-size: 22px;
  border: 2px solid #3c6e71;
  border-radius: 50%;
  color: #3c6e71;
  padding: 8px;
  transition: 0.5s;
}

.f-icon:hover {
  background-color: #3c6e71;
  color: white;
}

.facebook {
  width: 42px;
}

/* .f-icon {
  height: 40px;
  width: 40px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #3c6e71; */
/* border-radius: 50%; */
/* background-color: #3c6e71; */
/* color: white; */
/* }  */

/* Home Page */

.home-image {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 80vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
}

.lamo {
  height: 80vh;
  width: 100%;
}

/* 
navigation manual */
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #3c6e71;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #3c6e71;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* automatic navigation */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 446px;
}

.navigation-auto div {
  border: 2px solid #3c6e71;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #3c6e71;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #3c6e71;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #3c6e71;
}

.short-nav {
  height: 6vh;
  background-color: #fefe2a;
}
.one {
  position: relative;
}

.big-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
}

.big-text h3 {
  font-weight: 300;
  color: #383838;
  font-family: Orelega One;
  font-size: 70px;
  text-align: center;
  padding-top: 1rem;
}

.txt-small {
  font-size: 32px;
  font-weight: 200;
  padding-top: 7rem;
  font-family: Karantina;
  color: #303030;
  text-align: center;
  padding-top: 6rem;
}

.quote-box {
  height: 60vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Oswald;
  font-size: 22px;
  font-weight: 200;
}
.shiv-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.shop-detail-box {
  background-color: #f3fbb6;
}
.shop-detail-box h2 {
  text-align: center;
  padding-top: 4rem;
  font-size: 32px;
  color: #284b63;
  position: relative;
}
.shop-detail-box h2::after {
  content: "";
  display: block;
  height: 4px;
  width: 8rem;
  text-align: center;
  margin: 5px auto;
  background-color: #3c6e71;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
}
.card {
  height: 350px;
  width: 260px;
  /* background-color: #b1b2ab; */
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-heading {
  color: white;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 15px;
  padding-bottom: 8px;
  font-family: Oswald;
  font-size: 1.5rem;
  background-color: #284b63;
}
.star-icon {
  height: 20px;
  width: 20px;
}
.card-list {
  display: flex;
  padding-left: 45px;
  padding-top: 2rem;
  color: #3e3e3e;
  padding-right: 15px;
  background-color: #f5f5f5;
  flex-grow: 1;
}

/* 
ABOUT Page */

.sec-about {
  background-color: #f3fbb6;
}

.about-heading h2 {
  text-align: center;
  padding-top: 1rem;
  font-size: 32px;
  color: #284b63;
  position: relative;
}

.about-heading::after {
  content: "";
  display: block;
  height: 4px;
  width: 4rem;
  text-align: center;
  margin: 5px auto;
  background-color: #3c6e71;
}

.about-img {
  height: 360px;
  width: 600px;
  border: 6px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 1s;
}

.about-img:hover {
  transform: scale(1.1);
}

.about-img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.about-txt-container {
  width: 50%;
  color: #303030;
  font-size: 16px;
  font-family: Oswald;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 5rem;
  padding-left: 5rem;
}

.about-bottom-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* Store Page */

.sec-store {
  background-color: #f3fbb6;
  height: 110vh;
}

#map {
  height: 500px;
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 10px;
  padding-bottom: 2rem;
}

.store-heading {
  text-align: center;
  padding-top: 1rem;
  font-size: 32px;
  color: #284b63;
  position: relative;
}

.store-heading::after {
  content: "";
  display: block;
  height: 4px;
  width: 4rem;
  text-align: center;
  margin: 5px auto;
  background-color: #3c6e71;
}

/* LOGIN PAGE */
.sec-login {
  height: 100vh;
  background-color: #f3fbb6;
}

.login-header {
  text-align: center;
  padding-top: 1rem;
  font-size: 32px;
  color: #284b63;
  position: relative;
}

.login-header::after {
  content: "";
  display: block;
  height: 4px;
  width: 4rem;
  text-align: center;
  margin: 5px auto;
  background-color: #3c6e71;
}

.login-container {
  height: 400px;
  width: 350px;
  background-color: red;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
}

.box-header {
  padding: 15px;
  padding-left: 50px;
  background-color: #3c6e71;
  color: white;
  font-family: Girassol;
  font-size: 22px;
}

.box-bottom {
  background-color: #f0f0f0;
}

.sub-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.sub-box label {
  color: #292929;
  font-family: Oswald;
}

.sub-box input {
  height: 30px;
  padding-left: 8px;
}

form {
  padding-top: 1rem;
}

.login-btn {
  background-color: #5efa6a;
  width: 40%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.5s;
}
.login-btn:hover {
  background-color: #15f426;
  color: white;
}

.login-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.forget-box {
  padding-left: 40px;
  padding-top: 2rem;
  font-weight: 100;
  cursor: pointer;
}

.sec-menu {
  background-color: #f3fbb6;
}

.menu-heading {
  text-align: center;
  padding-top: 1rem;
  font-size: 32px;
  color: #284b63;
  position: relative;
}

.menu-heading::after {
  content: "";
  display: block;
  height: 4px;
  width: 4rem;
  text-align: center;
  margin: 5px auto;
  background-color: #3c6e71;
}

.item-head-container {
  padding-left: 2rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  color: #282828;
  justify-content: space-between;
}

.menu-item-heading {
  padding-left: 10px;
  font-family: Girassol;
  font-weight: 100;
  font-size: 22px;
}

.item-card-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
}

.item-card {
  height: 300px;
  width: 200px;
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  flex-direction: column;
}

.item-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.item-title {
  color: #e5e0e0;
  text-align: center;
  padding: 4px;
  font-family: Oswald;
}
.item-bottom-container {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: center;
}

.item-price {
  color: #cdcccc;
}

.item-btn {
  width: 68px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 100;
  font-family: Orelega One;
  background-color: #5efa6a;
  border: none;
  border-radius: 8px;
  color: #2f2e2e;
  cursor: pointer;
}

.item-btn:hover {
  background-color: #15f426;
  color: white;
}

@media (max-width: 1000px) {
  .footer-logo-container {
    font-size: 10px;
  }
  .f-contact h3 {
    font-size: 18px;
  }
  .f-subcontent {
    font-size: 12px;
  }
  .quote-box {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .nav-title {
    font-size: 12px;
  }
  .sub-nav ul li a {
    font-size: 8px;
  }
}

@media (max-width: 550px) {
  .nav-title {
    font-size: 8px;
  }
}

@media (max-width: 710px) {
  .quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 730px) {
  .big-text h3 {
    font-size: 60px;
  }
}

@media (max-width: 1070px) {
  .txt-small {
    padding-top: 1rem;
  }
}

@media (max-width: 830px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1080px) {
  .item-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 810px) {
  .item-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1040px) {
  .about-txt-container {
    font-size: 13px;
  }
}

@media (max-width: 910px) {
  .about-bottom-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .about-txt-container {
    width: 100%;
    padding-top: 2rem;
  }
}
