@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karantina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  height: 28px;
  padding-top: 4px;
  color: #3c6e71;
}

.cart-counter {
  padding-left: 3px;
  color: #3c6e71;
}
.cart-container {
  display: flex;
  align-items: center;
  border: 2px solid #3c6e71;
  width: 5rem;
  justify-content: space-around;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.nav-btn-container {
  padding-right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  padding-left: 0.5rem;
  font-family: Girassol;
  font-size: 18px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}
.btn {
  border: none;
  outline: none;
  color: white;
  background-color: #3c6e71;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #656565;
}

.s-logo {
  height: 20px;
  width: 20px;
}

.sub-nav ul li a {
  color: black;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
}

.sub-nav ul li a:hover {
  background-color: #e4dfdf;
}

.sub-nav ul {
  display: flex;
  list-style: none;
  padding-left: 30px;
}

/* color: #3c6e71; */
/* background-color: #bfbf6a; */

footer {
  height: 20vh;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}

.f-contact h3 {
  padding-top: 0.5rem;
  font-family: Oswald;
  font-weight: 200;
  font-size: 22px;
  color: #424242;
}

.f-subcontent {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.f-subcontent h5 {
  color: #232323;
  font-weight: lighter;
}

.f-icons {
  display: flex;
  flex-grow: 0.1;
  align-items: center;
  margin-right: 2rem;
  justify-content: space-around;
}
.f-icon {
  font-size: 22px;
  border: 2px solid #3c6e71;
  border-radius: 50%;
  color: #3c6e71;
  padding: 8px;
  transition: 0.5s;
}

.f-icon:hover {
  background-color: #3c6e71;
  color: white;
}

.facebook {
  width: 42px;
}

/* .f-icon {
  height: 40px;
  width: 40px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #3c6e71; */
/* border-radius: 50%; */
/* background-color: #3c6e71; */
/* color: white; */
/* }  */

/* Home Page */

.home-image {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 80vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
}

.lamo {
  height: 80vh;
  width: 100%;
}

/* 
navigation manual */
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #3c6e71;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #3c6e71;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* automatic navigation */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 446px;
}

.navigation-auto div {
  border: 2px solid #3c6e71;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #3c6e71;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #3c6e71;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #3c6e71;
}

.short-nav {
  height: 6vh;
  background-color: #fefe2a;
}
.one {
  position: relative;
}

.big-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
}

.big-text h3 {
  font-weight: 300;
  color: #383838;
  font-family: Orelega One;
  font-size: 70px;
  text-align: center;
  padding-top: 1rem;
}

.txt-small {
  font-size: 32px;
  font-weight: 200;
  padding-top: 7rem;
  font-family: Karantina;
  color: #303030;
  text-align: center;
  padding-top: 6rem;
}

.quote-box {
  height: 60vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Oswald;
  font-size: 22px;
  font-weight: 200;
}
.shiv-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.shop-detail-box {
  height: 100vh;
  background-color: #f3fbb6;
}
.shop-detail-box h2 {
  text-align: center;
  padding-top: 4rem;
  font-size: 32px;
  color: #284b63;
  position: relative;
}
.shop-detail-box h2::after {
  content: "";
  display: block;
  height: 4px;
  width: 8rem;
  text-align: center;
  margin: 5px auto;
  background-color: #3c6e71;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
}
.card {
  height: 350px;
  width: 260px;
  /* background-color: #b1b2ab; */
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-heading {
  color: white;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 15px;
  padding-bottom: 8px;
  font-family: Oswald;
  font-size: 1.5rem;
  background-color: #284b63;
}
.star-icon {
  height: 20px;
  width: 20px;
}
.card-list {
  display: flex;
  padding-left: 45px;
  padding-top: 2rem;
  color: #3e3e3e;
  padding-right: 15px;
  background-color: #f5f5f5;
  flex-grow: 1;
}

/* Login Page */

.Box {
  height: 80vh;
  position: relative;
}

.login-container {
  height: 400px;
  width: 300px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* 
ABOUT Page */

.sec-about {
  background-color: #f3fbb6;
  height: 100vh;
}

.about-heading h2 {
  text-align: center;
  padding-top: 1rem;
  font-size: 32px;
  color: #284b63;
  position: relative;
}

.about-heading::after {
  content: "";
  display: block;
  height: 4px;
  width: 4rem;
  text-align: center;
  margin: 5px auto;
  background-color: #3c6e71;
}

.about-img {
  height: 360px;
  width: 600px;
  margin-top: 4rem;
  border: 6px solid #d9d9d9;
  border-radius: 10px;
  margin-left: 4rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 1s;
}

.about-img:hover {
  transform: scale(1.1);
}

.about-text {
  flex-grow: 1;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #303030;
  font-size: 19px;
  font-family: Oswald;
  padding-top: 4rem;
}

/* Store Page */

.sec-store {
  background-color: #f3fbb6;
  height: 110vh;
}

#map {
  height: 500px;
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 10px;
  padding-bottom: 2rem;
}

.store-heading {
  text-align: center;
  padding-top: 1rem;
  font-size: 32px;
  color: #284b63;
  position: relative;
}

.store-heading::after {
  content: "";
  display: block;
  height: 4px;
  width: 4rem;
  text-align: center;
  margin: 5px auto;
  background-color: #3c6e71;
}
